---
layout: default
title: "Home"
---

<style> 
    body {
        background-image: url("https://w.wallhaven.cc/full/13/wallhaven-13yzl9.png"); /* TODO: use local directory*/
        /* background-image: url("https://user-images.githubusercontent.com/4943215/55412536-edbba180-5567-11e9-9c70-6d33bca3f8ed.jpg"); */
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>

<body>
    {% if site.show_excerpts %}
        {% include home.html %}
    {% else %}
        {% include archive.html title="Posts" %}
    {% endif %}
</body> 

